@using Microsoft.AspNetCore.Identity
@using GameCatalogue.Data.Models;
@using GameCatalogue.Services.Data.Interfaces;
@using GameCatalogue.Web.Infrastructure;
@inject SignInManager<ModdedUser> SignInManager
@inject UserManager<ModdedUser> UserManager

@inject IDeveloperService DeveloperService
@{
    bool isUserDeveloper = await DeveloperService.DeveloperExistsByUserId(this.User.GetId());
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    if (!isUserDeveloper)
    {  
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="" asp-controller="Developer" asp-action="Become">Become a developer</a>
        </li>
    }
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
