@model GameFormModel
@{
	ViewData["Title"] = "Add game";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<partial name="_GameFormPartial" model="@Model"/>

@section Scripts
{
	<partial name="_ValidationScriptsPartial"/>
}