@model List<GameAllViewModel>

@{
	ViewData["Title"] = "My published games";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

@if(!Model.Any())
{
	<h2 class="text-center">You havent published any games yet!</h2>
}

<div class="row">
	@foreach(var game in Model)
	{
		<partial name ="_GamePartial" model ="@game"></partial>
	}
</div>