@model GuideFormModel
@{
	ViewData["Title"] = "Write a guide";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_GuideFormPartial" model="@Model"/>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}